body {
    background: rgb(204, 204, 204);
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}


page[size="A5"] {
    width: 14.8cm;
    height: 25cm;
}

@media print {

    body,
    page {
        margin: 0;
        box-shadow: 0;
    }
}



.banner {}

.banner_image {
    width: 14.8cm;
    height: auto;
}

.name {
    text-align: center;
}




.cryo_image {
    width: 70%;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;

}

.txt_size {

    text-align: center;


    font-family: letter-gothic-std, monospace;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;


}


.button2 {
    background-color: #008CBA;
}

/* Blue */
